<%= form_with(model: twat) do |form| %>
  <% if twat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twat.errors.count, "error") %> prohibited this twat from being saved:</h2>

      <ul>
        <% twat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :twat %>
    <%= form.text_area :twat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
